/* pic drager css
 */

nav {
    border-bottom-color: #DCDDDD;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 5px;
}

.buttons {
    /*float: right;*/
}

.gridly {
    /*display: none;*/
    position: relative;
    /*width: 620px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.brick.small {
    width: 251px;
    height: 334px;
}

/*.brick.large {
    width: 405px;
    height: 539px;
}*/
